#content {
	border: 1px solid #000;
	margin: 10% auto;
	padding: 5%;
	width: 20%;
}

#list {
	text-align: center;
}

/*.number-of-task {
	position: absolute;
	margin-bottom: 0;
}*/

ul {
	list-style-type: none;
}

/*.btn-delete {
	float: right;
}
*/
span {
	width: 5px;
	text-align: left;
}

#item {
	width: 50%;
}